<div class="container">
  <div class="row">
    <app-logo></app-logo>
    <div class="d-flex justify-content-between py-5">
      <h2>Upload de Ficheiros</h2>
      <app-upload class="upload"></app-upload>
    </div>
    <div class="container-fluid py-3 px-3 background">
      <div class="row">
        <div class="col-md-6">
          <app-image-temporary></app-image-temporary>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-column justify-content-around">
            <app-input label="Título" value="Título"></app-input>
            <app-input label="Nome do ficheiro" value="Título"></app-input>
            <app-input label="Palavras chaves" value="Título"></app-input>
            <app-input label="Preço" value="Título"></app-input>
            <app-input label="Descrição" value="Título"></app-input>
            <app-input label="Data de upload" value="Título"></app-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>