.image-container {
  position: relative;
  display: inline-block;
  img {
    max-width: 100%;
  }
  .delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: none;
    cursor: pointer;
  }
  .download-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    display: none;
  }
}

.image-container:hover .delete-icon {
  display: block;
}
.image-container:hover .download-icon {
  display: block;
}